/*
 * Dylan Gilson
 * dylan.gilson@outlook.com
 * January 31, 2022
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans Expanded', sans-serif;
}

.home, .blue-july, .gameboy-c, .tetris-ai, .cellular-automata {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.blue-july {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 100px;
}

.gameboy-c {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 100px;
}

.tetris-ai {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 100px;
}

.cellular-automata {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 100px;
}
